Authlib==0.14.3
boto3==1.17.85
botocore==1.20.85
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
contentful-management==2.10.0
coverage==5.0.4
cryptography==3.3.2
decorator==4.4.2
docutils==0.16.0
entrypoints==0.3
flake8==3.9.2
idna==2.10
mccabe==0.6.1
myst-parser==0.14.0
nose==1.3.7
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
python-dateutil==2.8.1
python-json-logger==0.1.11
PyYAML==5.4
requests==2.25.1
s3transfer==0.4.2
simple-salesforce==1.0.0
six==1.14.0
Sphinx==3.5.4
sphinx-book-theme==0.1.0
splunk-sdk==1.6.12
urllib3==1.26.5
validators==0.14.3
