certifi==2020.4.5.1
chardet==3.0.4
contentful-management==2.10.0
idna==2.9
PyYAML==5.4
requests==2.23.0
urllib3==1.25.8
python-json-logger==0.1.11
simple-salesforce==1.0.0
splunk-sdk==1.6.12
validators==0.14.3
